.popover {
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.popover > .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: aliceblue;
    /*-fx-opacity: 0.75;*/
}
